/**************/
/*ALGEMENE STYLING */
/**************/

/**************/
/* MAIN */
/**************

/* subnav */
main section:nth-of-type(1) {
  display: flex;
  position: relative;
  overflow: hidden;
  /* justify-content: space-between; */

  padding: var(--white-space-none-small);

  box-shadow: -0.3em 0.5em var(--color-bg-shadow);
  color: var(--color-text-p);
  background-color: var(--color-bg-nav);
}

/* Zorgt dat de blok niet te dik wordt */
main section:nth-of-type(1) p {
  display: inline-block;
}

main section:nth-of-type(1) ul {
  position: absolute;
  padding: var(--white-space-none);
}

main section:nth-of-type(1) ul:nth-of-type(2) {
  display: flex;
  gap: var(--white-space-medium);
}

main section:nth-of-type(1) a {

  line-height: var(--line-height-medium);
  color: var(--color-text-p);
}

main section:nth-of-type(1).geopend ul {
  position: static;
  transition: var(--transition-long);
}

main nav button > svg {
  position: absolute;
  top: 0.5em;
  right: 1em;
  color: var(--color-icon-plus);
}

main nav button > svg {
  color: var(--color-icon-plus);
}

main section:nth-of-type(1).geopend button > svg {
  rotate: 45deg;
  transition: var(--transition-short);
}




/* Carousel area */
main section:nth-of-type(2) {
  display: grid;
  position: relative;

  /* Zodat de knoppen ruimte hebben */
  padding: var(--white-space-medium-none);
}

main section:nth-of-type(2) h2 {
  font-size: var(--font-size-medium-large);
}

/* BRONVERMELDING: 
https://codepen.io/shooft/pen/QwjQGZe Carousel oefening school
https://youtu.be/g03Yldh9Nkw?si=wqSNR9LvJ2BQV50v YouTube video titel: 
Learning how CSS-only carousels are going to work (Kevin Powell) */
main section:nth-of-type(2) ul {
  display: grid;
  grid-auto-flow: column;

  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  /* zodat je niet per ongeluk 'back' scrollt */
  overscroll-behavior-x: contain;
}

main section:nth-of-type(2) li {
  display: grid;

  flex-basis: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;

  padding: var(--white-space-none-xsmall);
}

main section:nth-of-type(2) li > a {
  display: flex;
  flex-direction: column;

  /* background-color: greenyellow; */

  /* padding: var(--white-space-none-small); */
}

main section:nth-of-type(2) a > h3 {
  order: 2;
}

main section:nth-of-type(2) a > p {
  order: 3;
}

main section:nth-of-type(2) a > img {
  order: 1;

  max-width: 50vw;
  min-width: 20em;

  /* aspect-ratio: 1/1; */

  object-fit: cover;
}

/* Alle verhalen opschuiven */
main section:nth-of-type(2) > a {
  position: absolute;

  bottom: -5em;
}

/* Styling buttons */
main section:nth-of-type(2) ul::scroll-button(*) {
  height: 4.5em;
  aspect-ratio: 1/1;

  position: absolute;

  bottom: 0;

  background-color: var(--color-button-carousel);
  color: var(--color-txt-button-carousel);
}

main section:nth-of-type(2) ul::scroll-button(*):disabled {
  opacity: 0.5;
}

main section:nth-of-type(2) ul::scroll-button(right) {
  content: "→" / "Right";

  position: absolute;
  left: 5em;
}

main section:nth-of-type(2) ul::scroll-button(left) {
  content: "←" / "Left";

  position: absolute;
  left: 0;
}

main section:nth-of-type(3) {
  display: grid;
  gap: var(--white-space-medium);
  padding: var(--white-space-xl-medium);
}

/* @media (width > 40em) {
    main section:nth-last-of-type(3) {
        font-size: ;
    }
} */

main section:nth-of-type(4) {
  display: flex;
  flex-direction: column;
}

/* zorgt dat de ✓ goed schalen */
main section:nth-of-type(4) svg {
  min-width: 8vh;
}

/* Dit past de Order aan voor: Voor wie? */
main section:nth-of-type(4) h2 {
  order: 1;
}

main section:nth-of-type(4) ul {
  order: 3;
}

main section:nth-of-type(4) img {
  order: 2;
}

@media (width > 44em) {
  /* Carousel area */
  main section:nth-of-type(2) a > img {
    /* width: 2em; */
    height: 40vh;

    /* object-fit: cover; */
  }

  /* Alle verhalen opschuiven */
  main section:nth-of-type(2) > a {
    position: absolute;

    bottom: 0;
    right: 0;
  }

  /* Voor wie section */
  main section:nth-of-type(4) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 6em);

    padding: var(--white-space-medium);
    column-gap: var(--white-space-small);
  }

  main section:nth-of-type(4) h2 {
    grid-column: 3 / span 5;
    grid-row: 1;
  }

  main section:nth-of-type(4) ul {
    grid-column: 3 / span 5;

    padding: var(--white-space-none);
  }

  /* Zet de checklist netjes naast de img */
  main section:nth-of-type(4) p {
    margin: var(--white-space-none);
  }

  main section:nth-of-type(4) img {
    grid-column: 1 / span 2;
    grid-row: 2 / span 4;

    height: 100%;
    object-fit: cover;
  }
}

/* TO DO: VOOR WIE? De afbeelding schaalt
niet goed mee, en de uitlijning moet aan de
linker kant staan */

/* Article naast elkaar als groter dan 64em */
@media (width > 58em) {
  /* Carousel area */

  main section:nth-of-type(2) {
    grid-template-columns: 20em 1fr;
  }

  main section:nth-of-type(2) ul {
    grid-column: 2 / span 4;
  }

  /* main section:nth-of-type(2) img {
    max-width: 24vw;
  } */

  /* Alle verhalen opschuiven */
  main section:nth-of-type(2) > a {
    position: absolute;

    bottom: 0;
    right: 0;
  }

  main section:nth-of-type(2) ul::scroll-button(right) {
    left: 32em;
  }

  main section:nth-of-type(2) ul::scroll-button(left) {
    left: 27em;
  }

  /* CAROUSEL AREA END */

  main section:nth-of-type(3) {
    grid-template-columns: repeat(3, 1fr);
  }

  /* padding: var(--white-space-large-medium); */
  main section:nth-of-type(3) article {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
  }

  /* Voor wie section */
  main section:nth-of-type(4) {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 6em 30em;

    padding: var(--white-space-medium);
    column-gap: var(--white-space-small);
  }

  main section:nth-of-type(4) h2 {
    grid-column: 4 / -1;
    grid-row: 1;
  }

  main section:nth-of-type(4) ul {
    grid-column: 4 / -1;
    padding: var(--white-space-none);
  }

  main section:nth-of-type(4) img {
    grid-column: 1 / span 3;
    grid-row: 1 / -1;

    height: 100%;
    object-fit: cover;
  }
}

@media (width > 90em) {
  /* Carousel area */
  main section:nth-of-type(2) {
    grid-template-columns: 35em 1fr;
  }

  main section:nth-of-type(2) a > img {
    width: 20vw;
    height: 47vh;
  }

  /* Perfect format, but does not scale */
  /* main section:nth-of-type(2) a > img {
    width: 20em;
    height: 27em;
  } */

  main section:nth-of-type(2) ul::scroll-button(right) {
    left: 44em;
  }

  main section:nth-of-type(2) ul::scroll-button(left) {
    left: 39em;
  }

  main section:nth-of-type(3) {
    padding: var(--white-space-xl);
  }

  /* Voor wie section */
  main section:nth-of-type(4) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 5em 6em 27em 5em;

    padding: var(--white-space-none-xl);
    column-gap: var(--white-space-small);
    /* background-color: purple; */
  }

  main section:nth-of-type(4) h2 {
    grid-column: 5 / -1;
    grid-row: 2;
  }

  main section:nth-of-type(4) ul {
    grid-column: 5 / -1;
    grid-row: 3;

    padding: var(--white-space-none);
  }

  main section:nth-of-type(4) img {
    grid-column: 1 / span 4;
    grid-row: 1 / -1;

    height: 100%;
    object-fit: cover;
  }
}

/* main section:nth-of-type(4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
} */

/* main section:nth-of-type(4) h2 {
    grid-column: 1 / span 2;
}

main section:nth-of-type(4) p {
    display: flex;
    flex-direction: row;
}

main section:nth-of-type(4) img {
    grid-row: 2;
} */

/* align a met svg arrows + tekst*/
main section:nth-of-type(2) a,
main article a,
main section:nth-of-type(4) p {
  display: flex;
  align-items: center;
}

/* GROTERE FORMAAT
main section:nth-of-type(2) a > img {
  order: 1;
  
  max-width: 20em;
  height: 27em;

  object-fit: cover;

}
*/
