/**************/
/* MAIN */
/**************/
main {
  display: flex;
  flex-direction: column;
}

main {
  background-color: var(--color-bg-main);
}

main h1 {
  color: var(--color-text-special-heading);

  font-size: var(--font-size-medium-large);
  font-weight: var(--weight-bolder);

  padding: var(--white-space-none-xsmall);
}

main > p {
  color: var(--color-text);
  font-weight: var(--weight-bolder);

  padding: var(--white-space-none-medium);
}

main section:nth-of-type(2) h2,
main section:nth-of-type(2) p,
main section:nth-of-type(2) a {
  color: var(--color-text);
  font-weight: var(--weight-bolder);
}

main section:nth-of-type(2) h3 {
  color: var(--color-special-text);
}

main section:nth-of-type(3) h2 {
  color: var(--color-special-text);

  font-size: var(--font-size-xsmall);
}

main section:nth-of-type(3) h3,
main section:nth-of-type(3) p,
main section:nth-of-type(3) a {
  color: var(--color-text);
}

main section:nth-of-type(3) h3 {
  font-size: var(--font-size-medium);
  font-weight: var(--weight-bolder);
}

main section:nth-of-type(3) a {
  font-weight: var(--weight-bolder);
}

main section:nth-of-type(4) h2,
main section:nth-of-type(4) p {
  color: var(--color-text);
}

/* subnav */

main section:nth-of-type(1) {
  height: 4em;
  position: relative;
  z-index: 1;

  padding-inline: 2em;
}

main section:nth-of-type(1) nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: var(--white-space-none-small);

  box-shadow: -0.3em 0.5em var(--color-bg-shadow);
  color: var(--color-text);
  background-color: var(--color-bg-subnav);

  height: 4em;
  overflow: hidden;

  transition: 0.5s;
}

main section:nth-of-type(1) nav.is-open {
  height: auto;
}

main section:nth-of-type(1) h2 {
  margin: 0;

  line-height: var(--line-height-large);
}

main section:nth-of-type(1) button > svg {
  color: var(--color-svg);
  transition: var(--transition-short);
}

main section:nth-of-type(1) nav.is-open button > svg {
  rotate: 45deg;
}

main section:nth-of-type(1) ul {
  margin: 0;
  padding: var(--white-space-none);

  width: 100%;
}

main section:nth-of-type(1) ul:nth-of-type(2) {
  display: flex;
  gap: var(--white-space-medium);
}

main section:nth-of-type(1) a {
  line-height: var(--line-height-medium-large);
  color: var(--color-text);
}

main section:nth-of-type(1) ul:nth-of-type(1) li:nth-of-type(1) a {
  position: relative;
}

main section:nth-of-type(1) ul:nth-of-type(1) li:nth-of-type(1) a::after {
  content: "";
  width: 100%;
  height: 0.1em;
  background-color: var(--color-text);
  position: absolute;
  bottom: -0.1em;
  left: 0.8em;
}



main section:nth-of-type(2) h3,
main section:nth-of-type(2) a,
main section:nth-of-type(3) a {
  position: relative;
  width: fit-content;
}

main section:nth-of-type(3) h2 {
  position: relative;
}

main section:nth-of-type(2) h3::after {
  content: "";
  width: 100%;
  height: 0.1em;
  background-color: var(--link-after-main-special);
  position: absolute;
  bottom: -0.4em;
  left: 0.8em;
}

main section:nth-of-type(2) > a::after {
  content: "";
  width: 100%;
  height: 0.1em;
  background-color: var(--link-after-main);
  position: absolute;
  bottom: -0.5em;
  left: 2em;
}



main section:nth-of-type(3) h2::before {
  content: "";
  height: 200%;
  width: 0.09em;
  background-color: var(--link-before-main);
  position: absolute;
  left: -.5em;
}

main section:nth-of-type(3) a::after {
  content: "";
  width: 100%;
  height: 0.1em;
  background-color: var(--link-after-main);
  position: absolute;
  bottom: -0.4em;
  left: 3em;
}




/* Carousel area */
main section:nth-of-type(2) {
  display: grid;
  position: relative;

  /* Zodat de knoppen ruimte hebben */
  padding: var(--white-space-medium-none);
}

main section:nth-of-type(2) h2 {
  font-size: var(--font-size-medium);

  padding: var(--white-space-none-small);
}

/* BRONVERMELDING: 
https://codepen.io/shooft/pen/QwjQGZe Carousel oefening school
https://youtu.be/g03Yldh9Nkw?si=wqSNR9LvJ2BQV50v YouTube video titel: 
Learning how CSS-only carousels are going to work (Kevin Powell) */
main section:nth-of-type(2) ul {
  display: grid;
  grid-auto-flow: column;

  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  /* zodat je niet per ongeluk 'back' scrollt */
  overscroll-behavior-x: contain;
}

main section:nth-of-type(2) li {
  display: grid;

  flex-basis: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;

  padding: var(--white-space-none-xsmall);
}

main section:nth-of-type(2) li > a {
  display: flex;
  flex-direction: column;
}

main section:nth-of-type(2) a > h3 {
  order: 2;
}

main section:nth-of-type(2) a > p {
  order: 3;
}

main section:nth-of-type(2) a > img {
  order: 1;

  max-width: 50vw;
  min-width: 20em;

  object-fit: cover;
}

/* Alle verhalen opschuiven */
main section:nth-of-type(2) > a {
  position: absolute;

  bottom: -5em;

}

/* Styling buttons */
main section:nth-of-type(2) ul::scroll-button(*) {
  height: 4.5em;
  aspect-ratio: 1/1;

  position: absolute;

  bottom: 0;

  background-color: var(--color-button-carousel);
  color: var(--color-txt-button-carousel);

}

main section:nth-of-type(2) ul::scroll-button(*):disabled {
  opacity: 0.5;
}

main section:nth-of-type(2) ul::scroll-button(right) {
  content: "→" / "Right";

  position: absolute;
  left: 7em;
}

main section:nth-of-type(2) ul::scroll-button(left) {
  content: "←" / "Left";

  position: absolute;
  left: 2em;
}

main section:nth-of-type(3) {
  display: grid;
  gap: var(--white-space-medium);
  padding: var(--white-space-xl-medium);
}



main section:nth-of-type(4) {
  display: flex;
  flex-direction: column;
}

/* zorgt dat de ✓ goed schalen */
main section:nth-of-type(4) svg {
  min-width: 8vh;
}

/* Dit past de Order aan voor: Voor wie? */
main section:nth-of-type(4) h2 {
  order: 1;

  font-size: var(--font-size-medium);
  font-weight: var(--weight-bolder);

  padding: var(--white-space-none-xsmall);
}

main section:nth-of-type(4) ul {
  order: 3;
}

main section:nth-of-type(4) img {
  order: 2;

  padding: var(--white-space-none-small);
}

@media (width > 44em) {
  /* Carousel area */
  main section:nth-of-type(2) a > img {
    height: 40vh;
  }

  /* Alle verhalen opschuiven */
  main section:nth-of-type(2) > a {
    position: absolute;

    bottom: 0;
    right: 5em;
  }


  /* Voor wie section */
  main section:nth-of-type(4) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 6em);

    padding: var(--white-space-medium);
    column-gap: var(--white-space-small);
  }

  main section:nth-of-type(4) h2 {
    grid-column: 3 / span 5;
    grid-row: 1;
  }

  main section:nth-of-type(4) ul {
    grid-column: 3 / span 5;

    padding: var(--white-space-none);
  }

  /* Zet de checklist netjes naast de img */
  main section:nth-of-type(4) p {
    margin: var(--white-space-none);
  }

  main section:nth-of-type(4) img {
    grid-column: 1 / span 2;
    grid-row: 2 / span 4;

    height: 100%;
    object-fit: cover;
  }
}




@media (width > 58em) {
  /* subnav */
  main section:nth-of-type(1) nav {
    position: relative;
  }

  main section:nth-of-type(1) h2 {
    display: none;
  }

  main section:nth-of-type(1) button > svg {
    display: none;
  }

  main section:nth-of-type(1) ul {
    display: flex;
    gap: var(--white-space-none-medium);

    width: fit-content;
  }

  main section:nth-of-type(1) ul:nth-of-type(1) {
    position: absolute;
  }

  main section:nth-of-type(1) ul:nth-of-type(2) {
    display: flex;
    align-self: end;

    gap: var(--white-space-small);
  }



  /* Carousel area */

  main section:nth-of-type(2) {
    grid-template-columns: 20em 1fr;
  }

  main section:nth-of-type(2) ul {
    grid-column: 2 / span 4;
  }

  /* Alle verhalen opschuiven */
  main section:nth-of-type(2) > a {
    position: absolute;

    bottom: 0;
    right: 5em;
  }

  main section:nth-of-type(2) ul::scroll-button(right) {
    left: 32em;
  }

  main section:nth-of-type(2) ul::scroll-button(left) {
    left: 27em;
  }



  main section:nth-of-type(3) {
    grid-template-columns: repeat(3, 1fr);
  }

  
  main section:nth-of-type(3) article {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
  }

  /* Voor wie section */
  main section:nth-of-type(4) {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 6em 30em;

    padding: var(--white-space-medium);
    column-gap: var(--white-space-small);
  }

  main section:nth-of-type(4) h2 {
    grid-column: 4 / -1;
    grid-row: 1;
  }

  main section:nth-of-type(4) ul {
    grid-column: 4 / -1;
    padding: var(--white-space-none);
  }

  main section:nth-of-type(4) img {
    grid-column: 1 / span 3;
    grid-row: 1 / -1;

    height: 100%;
    object-fit: cover;
  }
}

@media (width > 90em) {
  /* Carousel area */
  main section:nth-of-type(2) {
    grid-template-columns: 35em 1fr;
  }

  main section:nth-of-type(2) a > img {
    width: 20vw;
    height: 47vh;
  }

  main section:nth-of-type(2) ul::scroll-button(right) {
    left: 44em;
  }

  main section:nth-of-type(2) ul::scroll-button(left) {
    left: 39em;
  }

  main section:nth-of-type(3) {
    padding: var(--white-space-xl);
  }

  /* Voor wie section */
  main section:nth-of-type(4) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 5em 6em 27em 5em;

    padding: var(--white-space-none-xl);
    column-gap: var(--white-space-small);
  }

  main section:nth-of-type(4) h2 {
    grid-column: 5 / -1;
    grid-row: 2;
  }

  main section:nth-of-type(4) ul {
    grid-column: 5 / -1;
    grid-row: 3;

    padding: var(--white-space-none);
  }

  main section:nth-of-type(4) img {
    grid-column: 1 / span 4;
    grid-row: 1 / -1;

    height: 100%;
    object-fit: cover;
  }
}

/* align a met svg arrows + tekst*/
main section:nth-of-type(2) a,
main article a,
main section:nth-of-type(4) p {
  display: flex;
  align-items: center;
}