/**************/
/* MAIN */
/**************/
main section:nth-of-type(1) {
  display: grid;
  position: relative;
  
  background-color: var(--color-bg-section);
  padding: var(--white-space-none);
}

/* Kleuren, font en line height's */
main section:nth-of-type(1) h1,
main section:nth-of-type(1) h2,
main section:nth-of-type(1) p,
main section:nth-of-type(1) a,
main section:nth-of-type(1) svg {
  color: var(--color-text);
}

main section:nth-of-type(1) a {
  line-height: var(--line-height-medium-large);
  font-weight: var(--weight-normal-bold);
}

main section:nth-of-type(1) h1 {
  padding: var(--white-space-none-small);
  font-size: var(--font-size-medium);
  font-weight: var(--weight-bolder);
}


main section:nth-of-type(1) h2 {
  padding: var(--white-space-medium);
  font-size: var(--font-size-xsmall);
  font-weight: var(--weight-bold);
}


main section:nth-of-type(2),
main section:nth-of-type(3) {
  background-color: var(--color-bg-main);
}

main section:nth-of-type(2) h2,
main section:nth-of-type(2) p,
main section:nth-of-type(2) a {
  color: var(--color-text);
}


main section:nth-of-type(3) h2,
main section:nth-of-type(3) h3,
main section:nth-of-type(3) a,
main section:nth-of-type(3) p {
  color: var(--color-text);
}

main section:nth-of-type(3) h2 {
  font-size: var(--font-size-medium-large);
  font-weight: var(--weight-bolder);

  padding: var(--white-space-xsmall);
  margin: 0;
}


/* Svg eerste section (driehoeken)*/
main section:nth-of-type(1) > svg:nth-last-of-type(1) {
  position: absolute;
  top: 0;
  bottom: 0;
  color: var(--color-icon-pink);
  top: 36.1em;
  right: 1.8em;
}

main section:nth-of-type(1) > svg:nth-last-of-type(2) {
  position: absolute;
  color: var(--color-icon-black);
  top: 36em;
  right: 0;
}

main section:nth-of-type(1) > svg:nth-last-of-type(3) {
  position: absolute;
  color: var(--color-icon-blue);
  top: 26em;
  right: -4.5em;
}


/* 2e sectie open dag 13 december*/
main section:nth-of-type(2) {
  display: grid;

  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);

  column-gap: var(--white-space-small);
  padding: var(--white-space-large-small);
}

main section:nth-of-type(2) h2 {
  grid-column: 1 / span 5;

  font-weight: var(--weight-bolder);
}

/* Tekst */
main section:nth-of-type(2) p:nth-of-type(2) {
  grid-column: 1 / span 4;
}

main section:nth-of-type(2) a {
  grid-column: 1 / span 4;
  padding-top: var(--white-space-medium);

  font-weight: var(--weight-bold);

  z-index: 1;
}

/* Time block */
main section:nth-of-type(2) p:first-of-type {
  display: block;

  grid-column-start:1;
  grid-row-start:2;
  z-index: 1;

  background-color: var(--time-block-bg);
  color: var(--time-block-txt);
  padding-top: var(--white-space-small);
  align-self: end;

  height: 7em;
  width: 7em;
}

main section:nth-of-type(2) time {
  font-weight: var(--weight-bolder);
  font-size: var(--font-size-small);
}

/* 10.00 - 14.00 */
main section:nth-of-type(2) span {
  display: flex;
  font-size: var(--font-size-xsmall);
}

main section:nth-of-type(2) img {
  position: relative;
  grid-column: 1 / span 4;
  grid-row: 2;

  z-index: 0;

  padding: var(--white-space-none-medium);
}


/* 3e sectie Actueel*/
main section:nth-of-type(3) article {
  display: grid;
  grid-template-rows: repeat(4, auto);

  padding: var(--white-space-medium-small);
}

main article h3 {
  grid-row: 2;

  font-size: var(--font-size-small);
  font-weight: var(--weight-bolder);
}

main article p {
  grid-row: 3;
}

main article a {
  grid-row: 4;

  font-weight: var(--weight-bolder);
}

main article img {
  grid-row: 1;
} 



/* align a met svg arrows */
main section:nth-of-type(2) a,
main section:nth-of-type(3) a {
  position: relative;
  width: fit-content;
}

main section:nth-of-type(1) li,
main section:nth-of-type(2) a,
main section:nth-of-type(3) a {
  display: flex;
  align-items: center;
}

/* After lijn */
main section:nth-of-type(2) a::after,
main section:nth-of-type(3) a::after {
  content: "";
  width: 100%;
  height: 0.1em;
  background-color: var(--link-after-main);
  position: absolute;
  bottom: -0.4em;
  left: 2.5em;
}



@media (width > 44em) {
  /* 1e section Stap in jouw toekomst */
  main section:nth-of-type(1) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5em 5em 1fr;

    padding: 0;
  }

  main section:nth-of-type(1) h1 {
    grid-column: 1;
    grid-row: 1;
  }

  main section:nth-of-type(1) h2 {
    grid-column: 1;
    grid-row: 2;
  }

  /* navigatie */
  main section:nth-of-type(1) ul {
    grid-row: 3;
  }

  /* BRONVERMELDING: ChatGPT gebruikt om img zo groot als hele ding gezet
    Prompt: Hoe kan ik zorgen dat mijn img in mijn grid van boven tot onder 
    staat ongeacht of de groote kleiner of groter is dan de bestaande img? 
    in mijn voorbeeld zie je gewoon minder van de afbeelding, als of er ee 
    mask over zit
  
    Antwoord:
    .grid img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  */
  main section:nth-of-type(1) img {
    grid-column: 2;
    grid-row: 1 / span 3;

    height: 60vh;
    object-fit: cover;
  }

  /* Svg eerste section (driehoeken)*/
  main section:nth-of-type(1) > svg:nth-last-of-type(1) {
    position: absolute;
    top: 0;
    bottom: 0;
    color: var(--color-icon-pink);
    top: 7em;
    right: 1.8em;
  }

  main section:nth-of-type(1) > svg:nth-last-of-type(2) {
    position: absolute;
    color: var(--color-icon-black);
    top: 7em;
    right: 0;
  }

  main section:nth-of-type(1) > svg:nth-last-of-type(3) {
    position: absolute;
    color: var(--color-icon-blue);
    top: -3.7em;
    right: -4.5em;

  }


  /* 2e sectie Open dag 13 december */
  main section:nth-of-type(2) {
    grid-template-columns: 1fr 20em;
    grid-template-rows: repeat(5, auto);

    padding: var(--white-space-xl-small);
  }

  main section:nth-of-type(2) h2 {
    grid-column: 1;
    grid-row: 2;

    font-size: var(--font-size-medium-large);
  }

  /* Time block */
  main section:nth-of-type(2) p:first-of-type {
    grid-column: 2;
    grid-row: 3 / -1;
  }

  /* tekst */
  main section:nth-of-type(2) p:nth-of-type(2) {
    grid-column: 1;
    grid-row: 3;
  }

  main section:nth-of-type(2) img {
    grid-column: 2;
    grid-row: 1 / -1;
  }

  main section:nth-of-type(2) a {
    grid-column: 1;
    grid-row: 4;
  } 
 

  /* Articles */
  /* Article naast elkaar als groter dan 48em */
  main section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--white-space-small);
  }

  main section:nth-of-type(3) article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* BRONVERMELDING: 
  https://www.w3schools.com/cssref/tryit.php?filename=trycss_grid-column 
  de span gemaakt */
  main section:nth-of-type(3) h2 {
    grid-column: 1 / span 2;
  }

  main article img {
    order: -1;
  }
}



@media (width > 57em) {
  /* 1e sectie Stap in jouw toekomst */
  main section:nth-of-type(1) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5em 5em 1fr;

    padding: var(--white-space-none);
  }

  /* driehoekjes */
  main section:nth-of-type(1) > svg:nth-last-of-type(1) {
    position: absolute;
    top: 12em;
    right: 3.3em;
    height: 15em;
  }

  main section:nth-of-type(1) > svg:nth-last-of-type(2) {
    position: absolute;
    top: 12em;
    right: 0;
    height: 10em;
  }

  main section:nth-of-type(1) > svg:nth-last-of-type(3) {
    position: absolute;
    top: -7.5em;
    right: -9em;
    height: 30em;
  }


  /* 2e sectie open dag 13 december */
  main section:nth-of-type(2) {
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
  }

  main section:nth-of-type(2) h2 {
    grid-column: 3 / span 4;
    grid-row: 2;
  }
  
  /* Time block */
  main section:nth-of-type(2) p:first-of-type {
    grid-column: 1 / span 2;
    grid-row: 2;

    align-self: flex-start;

    width: 8em;
    height: 8em;
  }

  /* tekst */
  main section:nth-of-type(2) p:last-of-type {
    grid-column: 1 / span 4;
    grid-row: 3;
  }

  main section:nth-of-type(2) a {
    grid-column: 1 / span 3;
    grid-row: 4;
  }

  main section:nth-of-type(2) img {
    grid-column: 5 / -1;
    grid-row: 1 / -1;
  } 
  

  /* 3e sectie Actueel */
  main section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--white-space-small);
  }

  main section:nth-of-type(3) h2 {
    grid-column: 1 / span 3;
  }
}



@media (width > 90em) {
  /* 1e sectie Stap in jouw toekomst */
  main section:nth-of-type(1) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 5em);

    padding: 0;
  }

  main section:nth-of-type(1) h1 {
    grid-column: 1 / span 2;
    grid-row: 3 / 4;
  }

  main section:nth-of-type(1) h2 {
    grid-column: 1;
    grid-row: 5;
  }

  /* navigatie */
  main section:nth-of-type(1) ul {
    grid-row: 6;
  }

  main section:nth-of-type(1) img {
    grid-column: 3 / span 9;
    grid-row: 1 / span 3;

    height: 82vh;
    object-fit: cover;
  }


  /* 2e sectie open dag 13 december */
  main section:nth-of-type(2) {
    padding: var(--white-space-xl);
  }

 
  /* 3e sectie Actueel */
  main section:nth-of-type(3) {
    padding: var(--white-space-xl);
  }
}