/**************/
/*ALGEMENE STYLING */
/**************/

/* Hide the scroll bar op de pagina */
body {
  overflow-x: hidden;
}

/**************/
/* MAIN */
/**************/

main section,
main article {
  padding: var(--white-space-medium-none);
}

main section:nth-of-type(1) {
  display: grid;
  position: relative;
}

/* TO DO: FIX THE COLOR WITH VAR pls */
main section:nth-of-type(1) > svg:nth-last-of-type(1) {
  position: absolute;
  top: 0;
  bottom: 0;
  color: var(--color-icon-pink);
  top: 30.1em;
  right: 1.8em;
}

main section:nth-of-type(1) > svg:nth-last-of-type(2) {
  position: absolute;
  color: var(--color-icon-black);
  top: 30em;
  right: 0;
}

main section:nth-of-type(1) > svg:nth-last-of-type(3) {
  position: absolute;
  color: var(--color-icon-blue);
  top: 20em;
  right: -4.5em;
}

main section:nth-of-type(2) {
  display: grid;

  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);

  column-gap: var(--white-space-small);
  /* padding: var(--white-space-none-medium); */
}

main section:nth-of-type(2) h2 {
  grid-column: 1 / span 5;
}

main section:nth-of-type(2) p:nth-of-type(2) {
  grid-column: 1 / span 4;
}

main section:nth-of-type(2) a {
  grid-column: 1 / span 4;
  padding-top: var(--white-space-medium);
}

/* TO DO: VAR GEBRUIKEN EN IDK DE AFTER ONDER AAN FIXEN  */
main section:nth-of-type(2) a::before {
  content: "";
  position: absolute;

  height: 5em;
  width: 18em;
  left: 1em;
  
  background-color: var(--link-before-bg);
  z-index: -1;
}

/* 
HERE: TO DO:
Zet met align self de andere beter
*/
main section:nth-of-type(2) p:first-of-type {
  display: block;

  grid-column-start:1;
  grid-row-start:2;
  z-index: 1;

  background-color: var(--time-block-bg);
  color: var(--time-block-txt);
  padding-top: var(--white-space-small);
  align-self: end;

  height: 7em;
  width: 7em;
}

/* TO DO VAR CLAMP */
main section:nth-of-type(2) time {
  font-weight: var(--weight-bolder);
  font-size: var(--font-size-small);
}

/* TO DO: VAR FONT SIZE */
main section:nth-of-type(2) span {
  display: flex;
  font-size: var(--font-size-xsmall);
}

main section:nth-of-type(2) img {
  position: relative;
  grid-column: 1 / span 4;
  grid-row: 2;

  padding: var(--white-space-none-medium);
}

main section:nth-of-type(3) article {
  display: grid;
  grid-template-rows: repeat(4, auto);

  padding: var(--white-space-medium-small);
}

main article h3 {
  grid-row: 2;
}

main article p {
  grid-row: 3;
}

main article a {
  grid-row: 4;
}

main article img {
  grid-row: 1;
} 

/* TO DO: Zet dit boven in ergens */
/* align a met svg arrows */
main section:nth-of-type(1) li,
main section:nth-of-type(2) a,
main section:nth-of-type(3) a {
  display: flex;
  align-items: center;
}

main section:nth-of-type(2) a,
main section:nth-of-type(3) a {
  position: relative;
  width: fit-content;
}

/* TO DO: verander de link after footer naar link after color (or something) */
main section:nth-of-type(2) a::after,
main section:nth-of-type(3) a::after {
  content: "";
  width: 100%;
  height: 0.1em;
  background-color: var(--link-after-footer);
  position: absolute;
  bottom: -0.4em;
  left: 0.8em;
}

@media (width > 44em) {
  /* Main section */
  main section:nth-of-type(1) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5em 5em 1fr;

    padding: 0;
  }

  main section:nth-of-type(1) h1 {
    grid-column: 1;
    grid-row: 1;
  }

  main section:nth-of-type(1) h2 {
    grid-column: 1;
    grid-row: 2;
  }

  main section:nth-of-type(1) ul {
    grid-row: 3;
  }

  /* BRONVERMELDING: ChatGPT gebruikt om img zo groot als hele ding gezet
    Prompt: Hoe kan ik zorgen dat mijn img in mijn grid van boven tot onder 
    staat ongeacht of de groote kleiner of groter is dan de bestaande img? 
    in mijn voorbeeld zie je gewoon minder van de afbeelding, als of er ee 
    mask over zit
  
    Antwoord:
    .grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  */
  main section:nth-of-type(1) img {
    grid-column: 2;
    grid-row: 1 / span 3;

    height: 60vh;
    object-fit: cover;
  }

  /* TO DO: var voor kleur */
  main section:nth-of-type(1) > svg:nth-last-of-type(1) {
    position: absolute;
    top: 0;
    bottom: 0;
    color: #f35279;
    top: 7em;
    right: 1.8em;
  }

  main section:nth-of-type(1) > svg:nth-last-of-type(2) {
    position: absolute;
    top: 7em;
    right: 0;
  }

  main section:nth-of-type(1) > svg:nth-last-of-type(3) {
    position: absolute;
    color: #25167a;
    top: -3.7em;
    right: -4.5em;
  }


main section:nth-of-type(2) {
    grid-template-columns: 1fr 20em;
    grid-template-rows: repeat(5, auto);

    padding: var(--white-space-xl-small);
  }

  main section:nth-of-type(2) h2 {
    grid-column: 1;
    grid-row: 2;

    font-size: var(--font-size-medium-large);
  }

  main section:nth-of-type(2) p:first-of-type {
    grid-column: 2;
    grid-row: 3 / -1;
  }

  main section:nth-of-type(2) p:nth-of-type(2) {
    grid-column: 1;
    grid-row: 3;
  }

  main section:nth-of-type(2) img {
    grid-column: 2;
    grid-row: 1 / -1;

    /* height: 50vh;
    height: 100%;

    aspect-ratio: 1 / 1;
    object-fit: cover; */
  }

  main section:nth-of-type(2) a {
    grid-column: 1;
    grid-row: 4;
  } 
 




  /* TO DO: Style de Actueel articles meer naar links
Style het gewoon beter (zie original file HvA) */
  /* Articles */
  /* Article naast elkaar als groter dan 48em */
  main section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--white-space-small);
  }

  main section:nth-of-type(3) article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* BRONVERMELDING: 
  https://www.w3schools.com/cssref/tryit.php?filename=trycss_grid-column 
  de span gemaakt */
  main section:nth-of-type(3) h2 {
    grid-column: 1 / span 2;
  }

  main article img {
    order: -1;
  }
}

@media (width > 57em) {
  main section:nth-of-type(1) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5em 5em 1fr;

    padding: 0;
  }

  main section:nth-of-type(1) > svg:nth-last-of-type(1) {
    position: absolute;
    top: 12em;
    right: 3.3em;
    height: 15em;
  }

  main section:nth-of-type(1) > svg:nth-last-of-type(2) {
    position: absolute;
    top: 12em;
    right: 0;
    height: 10em;
  }

  main section:nth-of-type(1) > svg:nth-last-of-type(3) {
    position: absolute;
    top: -7.5em;
    right: -9em;
    height: 30em;
  }

  /* main section:nth-of-type(2) {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  main section:nth-of-type(2) p:first-of-type {
    grid-column: 1;
    grid-row: 1;

    width: 8em;
    height: 8em;
  }

  main section:nth-of-type(2) h2 {
    grid-column: 2 / span 4;
    grid-row: 2;
  }

  main section:nth-of-type(2) p:last-of-type {
    grid-column: 1 / span 4;
    grid-row: 3;
  }

  main section:nth-of-type(2) a {
    grid-column: 1 / span 4;
    grid-row: 4;
  }

  main section:nth-of-type(2) img {
    grid-column: 5 / -1;
    grid-row: 1 / -1;
  } */


  main section:nth-of-type(2) {
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
  }

  main section:nth-of-type(2) h2 {
    grid-column: 3 / span 4;
    grid-row: 2;
  }
  
  
  main section:nth-of-type(2) p:first-of-type {
    grid-column: 1 / span 2;
    grid-row: 2;

    align-self: flex-start;

    width: 8em;
    height: 8em;
  }

  main section:nth-of-type(2) p:last-of-type {
    grid-column: 1 / span 4;
    grid-row: 3;
  }

  main section:nth-of-type(2) a {
    grid-column: 1 / span 3;
    grid-row: 4;
  }

  main section:nth-of-type(2) img {
    grid-column: 5 / -1;
    grid-row: 1 / -1;
  } 
  

  main section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--white-space-small);
  }

  main section:nth-of-type(3) h2 {
    grid-column: 1 / span 3;
  }
}

@media (width > 90em) {
  main section:nth-of-type(1) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 5em);

    padding: 0;
  }

  main section:nth-of-type(1) h1 {
    grid-column: 1 / span 2;
    grid-row: 3 / 4;
  }

  main section:nth-of-type(1) h2 {
    grid-column: 1;
    grid-row: 5;
  }

  main section:nth-of-type(1) ul {
    grid-row: 6;
  }

  main section:nth-of-type(1) img {
    grid-column: 3 / span 9;
    grid-row: 1 / span 3;

    height: 90vh;
    object-fit: cover;
  }

  main section:nth-of-type(2) {
    padding: var(--white-space-xl);
  }
   
  /*
  main section:nth-of-type(2) h2 {
    grid-column: 2 / span 6;
    grid-row: 3;
  }

  main section:nth-of-type(2) p:last-of-type {
    grid-column: 1 / span 5;
    grid-row: 4;
  }

  main section:nth-of-type(2) a {
    grid-column: 1 / span 5;
    grid-row: 5;
  }

  main section:nth-of-type(2) img {
    grid-column: 6 / -1;

    height: 90vh;
  }

  main section:nth-of-type(2) p:first-of-type {
    grid-column: 1 / span 4;
    grid-row: 2;
  } */

 
  main section:nth-of-type(3) {
    padding: var(--white-space-none-xl);
  }
}

/* 
TO DO:

  - Actueel gap between ruimtes horizontaal,
   En verticaal wanneer het beeld 
   groter wordt

  - Als het beeld te groot wordt verandert
    Het ook weer dus let daar op

  - FOOTER heeft ruimte nodig tussen 
    de teksten


*/
