/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #fff;
  --color-background: #351fb7;
  --color-header-background: #351fb7;
  --color-nav-background: #25167a;
  --color-footer-background: #000;
  --color-menu-color: #fff;
  --pink-headings: #F35279;
}
/****************/
/* JOUW STYLING */
/****************/

/* Alle a's (linkjes) in de main */
main section a {
  font-size: 1em;
  position: relative;

  width: fit-content;
}

/* Lijntjes onder elke a element */

main section > article a::after {
  content: "";
  width: 100%;
  height: 0.15em;
  background-color: var(--color-text);
  position: absolute;
  bottom: -0.3em;
  left: 0.8em;
}

/* De Svg en de a uitlijnen */
section:nth-of-type(3) 
article:nth-of-type(1) 
a {
  display: flex;
  align-items: center;
  gap: .25em;
}

section:nth-of-type(3) 
article:nth-of-type(2) 
a {
  display: flex;
  align-items: center;
  gap: .25em;
}

section:nth-of-type(3) 
article:nth-of-type(3) 
a {
  display: flex;
  align-items: center;
  gap: .25em;
}

h1 {
  color: var(--pink-headings);
}

h2,
h3,
p,
a {
  color: var(--color-text);
}

main section:nth-of-type(3) h2 {
  color: var(--pink-headings);
  font-size: 1em;
}

section:nth-of-type(3) h3 {
  font-size: 2em;
  font-weight: 800;
}

/* Verandert de volgorde van de laatste sectie in main */
section:nth-of-type(4) {
  display: flex;
  flex-direction: column;
}

section:nth-of-type(4) h2 {
  order: 1;
}

section:nth-of-type(4) img {
  order: 2;
}

section:nth-of-type(4) ul {
  order: 3;
}

/*Footer styling*/
footer {
  color: var(--color-text);
}
