/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #fff;
  --color-background: #351fb7;
  --color-header-background: #351fb7;
  --color-nav-background: #25167a;
  --color-footer-background: #000;
  --color-menu-color: #fff;
}
/****************/
/* JOUW STYLING */
/****************/

h1,
h2,
h3,
p,
a {
  color: var(--color-text);
}

footer {
  color: var(--color-text);
}
