/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #fff;
  --color-background: #351fb7;
  --color-header-background: #351fb7;
  --color-nav-background: #25167a;
  --color-footer-background: #000;
  --color-menu-color: #fff;
}
/****************/
/* Heb nog dark en light modus nodig met @media. 
Om dit snel te doen kan je met roots werken en de text, 
BG en Footer BG aan te passen hieronder, maar dan voor media (komt later) */
/****************/

/****************/
/* JOUW STYLING */
/****************/

main {
  background-color: var(--color-background);
}

/* Alle a's (linkjes) in de main */
main section a {
  font-size: 1em;
  position: relative;

  width: fit-content;
}

/* Lijntjes onder elke a element */

/* main section a::after {
  content: "";
  width: 100%;
  height: 0.15em;
  background-color: var(--color-text);
  position: absolute;
  bottom: -0.3em;
  left: 0.8em;
} */

/* section > a:nth-of-type(1) {
  content: "";
  width: 100%;
  height: 0.15em;
  background-color: var(--color-text);
  position: absolute;
  bottom: -0.3em;
  left: 0.8em;
} */

/* article a::after {
  content: "";
  width: 100%;
  height: 0.15em;
  background-color: var(--color-text);
  position: absolute;
  bottom: -0.3em;
  left: 0.8em;
} */

article:nth-of-type(2) a {
  display: flex;
  flex-direction: row;

}



h1,
h2,
h3 {
  color: var(--color-text);
}

main section:first-of-type h2 {
  font-size: 1rem;
  padding: 0 10%;
}

/* Nav centreren met de svg */
main li {
  display: flex;
  align-items: center;
}


/* Beiden zorgen ervoor dat de H2 boven de img staan en 
de H3 er onder je kan ook inplaats van grid flex gebruiken */
article {
  display: grid;
}

article img {
  order: -1;
}


/* time {
  background-color: #000;
  color: var(--color-text);
  padding: 1em;
} 

span:nth-of-type(1) {
  position: relative;
} 

 time:nth-of-type(1) {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

time:nth-of-type(2) {
  position: absolute;
  bottom: -3em;
  left: 0;
} */