/* BRONVERMELDING: https://johandejong.dev/blog/sticky-header-with-show-hide-on-scroll */

/**************/
/* FONTS */
/**************/

@font-face {
  font-family: "MY POPPINS";
  src: url("../fonts/e807dee2426166ad-s.p.woff2");
  font-style: normal;
}

@font-face {
  font-family: "MY POPPINS";
  src: url("../fonts/851c14db057e20c2-s.p.woff2");
  font-style: italic;
}

/*********************/
/* KLEURTJES */
/*********************/

:root {
  /* colors */
  --color-header-background: #f35279;
  --color-nav-background: #f35279;
  --color-menu-color: #fff;
  --pink-headings: #f35279;
  --color-text-nav-p: #fff;
  --color-text: #21146b;
  --icon-color: #21146b;
  --color-button: #fff;
  --color-after-line: #21146b;
  --color-footer-background: #f35279;

  /* 2e pagina colors */
  --block-color: #f35279;
  --color-h3-heading-carousel: #f35279;
  --color-after-line-h2: #f35279;
  --color-after-line-h3: #f35279;

  /* spacing */
  --padding-0: 0;
  --padding-5: 0 5%;
  --spacing-md: 0 5%;

  /* States */
  --color-button-background-active: #21146b;

  --font-states-main-hover: 2em;
  --font-states-footer-hover: 1.5em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-header-background: #351fb7;
    --color-nav-background: #25167a;
    --color-menu-color: #fff;
    --color-text: #fff;
    --icon-color: #fff;
    --color-button: #000;
    --color-background: #351fb7;
    --color-after-line: #fff;
    --color-footer-background: #000;

    /* 2e pagina colors */
    --block-color: #000;
    --color-h3-heading-carousel: #f35279;
    --color-after-line-h2: #f35279;
    --color-after-line-h3: #fff;
  }
}

/**************/
/*ALGEMENE STYLING */
/**************/

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-family: "MY POPPINS";
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
}

p,
a {
  color: var(--color-text);
}

img {
  max-width: 100%;
}

svg {
  color: var(--icon-color);
}

button {
  color: var(--color-button);
}

/**************/
/* HEADER */
/**************/

header {
  background-color: var(--color-header-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 5%;
  position: sticky;
  top: 0;
  z-index: 1;

  /* position: fixed;/ */
  /* top: 0; */
  transition: 0.7s;
}

header.foetsie {
  translate: 0 -100%;
}

/* logo */
header img {
  max-width: 40vw;
  z-index: 1;
}

header svg {
  max-width: 8vw;
}

/* BRONVERMELDING https://codepen.io/shooft/pen/Qwjaojy?editors=0110 
https://codepen.io/shooft/pen/myepoJo?editors=0110*/

nav {
  position:fixed;
  /* Vervanging voor top, bottom, left and right */
  inset: 0;
  z-index: 2;

  translate: 0 -100%;
  transition: .3s;

  background: var(--color-nav-background);
}

nav.toonMenu {
  transform: 0% 0%;
}

nav ul {
  display: flex;
  flex-direction: column;
  
  padding: 20% 10%;
  gap: 1em;

  list-style: none;

}

nav p {
  color: var(--color-text-nav-p);
  font-weight: 900;
}

nav a {
  padding: var(--padding-5);
}

nav details {
  padding: 0 10%;
}

/* BRONVERMELDING: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ 
Vermeld flex of inline flex.  en bij align-self kan alleen vertical-align op non flex-items*/
nav li > a, 
nav li svg {
  display: inline-flex;
  vertical-align: middle;
}

/* BRONVERMELDING: https://johandejong.dev/blog/sticky-header-with-show-hide-on-scroll */
/* Sticky Header */

/* menu button */
button[aria-label="toggle menu"] {
  position: fixed;
  z-index: 3;

  appearance: none;
  aspect-ratio: 1/1;
  /* z-index: 100; */

  background-color: var(--color-header-background);
  border: none;
  padding: var(--padding-0);

  display: grid;
  justify-items: center;
  align-items: center;

}


button span {
  display: block;

  width: 1.5em;
  height: 0.1em;
  background-color: var(--color-menu-color);

  grid-row-start: 1;
  grid-column-start: 1;
}

button span:nth-of-type(1) {
  translate: 0 -0.3em;
  transition: .3s;
}

button span:nth-of-type(3) {
  translate: 0 0.3em;
  transition: .3s;
}

button.is-open span:nth-of-type(1) {
  translate: 0 0;
  rotate: 45deg;
  transition: .3s;
}

button.is-open span:nth-of-type(2) {
  scale: 0 1;
  transition: .3s;
}

button.is-open span:nth-of-type(3) {
  translate: 0 0;
  rotate: -45deg;
  transition: .3s;
}




/**************/
/* MAIN */
/**************/

main {
  background-color: var(--color-background);
  display: grid;
  /* display: flex;
  flex-direction: column; */
}

main section:nth-of-type(1) {
  background-color: var(--color-nav-background);
}

/**************
FOOTER 
**************/

footer {
  background-color: var(--color-footer-background);
  display: grid;
}

footer section {
  padding: var(--padding-5);
}

footer section:nth-of-type(5) {
  padding: var(--padding-0);
}

footer h2 {
  font-size: var();
  position: relative;

  width: fit-content;
}

footer li {
  list-style: none;
}

/* streepje */
footer h2::after {
  content: "";
  width: 100%;
  height: 0.1em;
  background-color: var(--color-text);
  position: absolute;
  bottom: -0.4em;
  left: 0.8em;
}

/* socials */

footer a {
  line-height: 2.5em;
  font-size: 0.9em;
}

footer img {
  max-width: 30vh;
  padding: var(--padding-5);
}

footer svg {
  padding-right: 0.6em;
}

/**************
STATES
**************/

/* 
Unvisited
Visited
Hover
Active
Focus */

/* main a:hover {
  font-size: var(--font-states-main-hover);
}

footer a:hover {
  font-size: var(--font-states-footer-hover);
} */

button:active {
  background-color: #21146b;
  border-color: #f35279;
  color: #fff;
}

/*

a:focus {

}

a:focus-visible {

}

a:visited {

}

a:link {

} */

/* Facebook animatie */
@keyframes facebook-animation {
  0% {
    rotate: 0deg;
    scale: 1;
  }

  100% {
    rotate: 180deg;
    scale: 10;
  }
}

svg[aria-label="facebook-animation"]:hover {
  animation-name: facebook-animation;
  animation-duration: 1s;
  animation-iteration-count: 3;
}

/* Instagram animatie */
@keyframes instagram-animation {
  0% {
    scale: 1;
  }

  100% {
    scale: 5;
  }
}

svg[aria-label="instagram-animation"]:hover {
  animation-name: instagram-animation;
  animation-duration: 1s;
  animation-iteration-count: 3;
}

/* LinkedIn animatie */
@keyframes LinkedIn-animation {
  0% {
    rotate: 0deg;
    scale: 1;
  }

  100% {
    rotate: 180deg;
    scale: 10;
  }
}

svg[aria-label="LinkedIn-animation"]:hover {
  animation-name: LinkedIn-animation;
  animation-duration: 1s;
  animation-iteration-count: 3;
}
