/* 
BRONVERMELDING: https://johandejong.dev/blog/sticky-header-with-show-hide-on-scroll
BRONVERMELDING: skip to main https://www.a11y-collective.com/blog/skip-to-main-content/ En Roos Buskermolen: body > a code 
BRONVERMELDING: Roos Buskermolen (nav (translate) en nav.geopend)
BRONVERMELDING: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ Vermeld flex of inline flex.  en bij align-self kan alleen vertical-align op non flex-items
BRONVERMELDING: https://johandejong.dev/blog/sticky-header-with-show-hide-on-scroll
*/

/**************/
/* FONTS */
/**************/

@font-face {
  font-family: "MY POPPINS";
  src: url("../fonts/e807dee2426166ad-s.p.woff2");
  font-style: normal;
}

@font-face {
  font-family: "MY POPPINS";
  src: url("../fonts/851c14db057e20c2-s.p.woff2");
  font-style: italic;
}

/*********************/
/* KLEURTJES */
/*********************/

:root {
  /* colors */
  --color-header-background: #f35279;
  --color-nav-background: #f35279;
  --color-menu-color: #fff;
  --pink-headings: #f35279;

  --icon-color-nav-svg: #fff;
  --color-text-nav-p: #fff;
  --color-text-nav-a: #21146b;

  --color-text: #21146b;
  --icon-color: #21146b;

  --color-button: #fff;
  --color-after-line: #21146b;
  --color-footer-background: #f35279;

  --color-detail-summary: #21146b;
  
  /* 2e pagina colors */
  --block-color: #f35279;
  --color-h3-heading-carousel: #f35279;
  --color-after-line-h2: #f35279;
  --color-after-line-h3: #f35279;
  --underline: underline .2em #fff;

  /* Fonts */
  --size: 1em;
  --weight-heavy: 900;
  --weight-bold: 700;

  /* spacing */
  --padding-0: 0;
  --padding-5: 0 5%;
  --spacing-md: 0 5%;

  /* animatie */
  --animation-duration: 1s;
  --animation-iteration-count: 3;

  --transition-3: .3s;
  --transition-5: .5s;
  --transition-7: .7s;

  --transform: scale(0.8);
  --transform-footer: scale(0.5);

  /* States */
  --hover-lijn: underline .5em #25167a;
  --hover-header-img: #21146b;
  --hover-button: #21146b;


  --focus-header-state: #21146b; /* Als het symbool/state wit is dan gebruik deze kleur*/
  --focus-background-pink: #fff;
  --focus-background-main: #f35279;
  --focus-text: #21146b;

  --focus-padding: 1em;

  --visited-pink: #fff;
  --visited-main: #f35279;
  --visited-nav: #fff;

  --visited-font-weight: 900;
}


/* header img:focus {
  background-color: var(--hover-header-img);
  transition: var(--transition-5);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --color-header-background: #351fb7;
    --color-background: #351fb7;
    --color-menu-color: #fff;
    --color-nav-background: #25167a;

    --color-text-nav-p: #fff;
    --color-text-nav-a: #f35279;
    --icon-color-nav-svg: #fff;
    
    --color-text: #fff;
    --icon-color: #fff;

    --color-button: #000;
    --color-after-line: #fff;
    --color-footer-background: #000;

    --color-detail-summary: #fff;
    
    /* 2e pagina colors */
    --block-color: #000;
    --color-h3-heading-carousel: #f35279;
    --color-after-line-h2: #f35279;
    --color-after-line-h3: #fff;

    /* font */
    --weight-heavy: 900;

    /* states */
    --hover-lijn: underline .5em #f35279;
    --hover-header-img: #f35279;
    --hover-button: #f35279;

    --focus-header-state: #f35278; /* Als het symbool/state wit is dan gebruik deze kleur*/
    --focus-background-pink: #fff;
    --focus-text: #21146b;

    --visited-pink: #f35279;
    --visited-main: #f35279;
    --visited-nav: #fff;
  }
}

@media (prefers-reduced-motion: reduce) {
  *{
    animation: none;
    transition: none;
  }
}



/**************/
/*ALGEMENE STYLING */
/**************/

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "MY POPPINS";
}

button {
  border: none;
  background: none;
}

/* Bronvermelding, skip to main https://www.a11y-collective.com/blog/skip-to-main-content/ 
En Roos Buskermolen: body > a code */

body > a {
  position: absolute;
  left: -9999em;
  z-index: 100;
}

body > a:focus {
  left: 0em;
}

a {
  text-decoration: none;
}

p,
a {
  color: var(--color-text);
}

img {
  max-width: 100%;
}

main svg, 
footer svg {
  color: var(--icon-color);
}

nav svg {
  color: var(--icon-color-nav-svg);
}

button {
  color: var(--color-button);
}

/**************/
/* HEADER */
/**************/

header {
  background-color: var(--color-header-background);
  display: flex;
  justify-content: space-between;
  padding: 5% 5%;
  position: sticky;
  top: 0;
  z-index: 1;

  transition: var(--transition-7);
}

header.foetsie {
  translate: 0 -100%;
}

/* logo */
header img {
  max-width: 40vw;
}

/* BRONVERMELDING: Roos Buskermolen (nav (translate) en nav.geopend) */
nav {
  position: fixed;
  inset: 0;

  translate: 0 -1000%;
  transition:translate .3s;
  background-color: var(--color-header-background);
}

nav.geopend {
  translate: 0 0;
}

/* Zet de hele ul wat lager */
header nav ul {
  padding: 15% 0;
  font-weight: var(--weight-heavy);
}

/* Zet tussenruimtes bij elke li item */
nav li {
  padding: 2% 0;
}

nav li > a {
  padding: 5% 10%;
  color: var(--color-text-nav-a);
}

/* Zet de tekst van de muur af */
nav p{
  color: var(--color-text-nav-p);
  padding: var(--padding-5);
  margin: 0;
}

nav details {
  padding: 0 10%;
  color: var(--color-detail-summary);
}

nav svg {
  color: var(--icon-color-nav-svg);
  max-width: 10vw;
}

nav a {
  padding: var(--padding-5);
}

/* BRONVERMELDING: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ 
Vermeld flex of inline flex.  en bij align-self kan alleen vertical-align op non flex-items*/
nav li > a, 
nav li svg {
  display: inline-flex;
  vertical-align: middle;
}



/* BRONVERMELDING: https://johandejong.dev/blog/sticky-header-with-show-hide-on-scroll */
/* Sticky Header */

/* menu button */
button[aria-label="toggle menu"] {
  appearance: none;
  z-index: 1;


  aspect-ratio: 1/1;

  background-color: var(--color-header-background);
  border: none;
  padding: var(--padding-0);

  display: grid;
  justify-items: center;
  align-items: center;
}

button span {
  display: block;

  width: 2.5em;
  height: .3em;
  background-color: var(--color-menu-color);
  border-radius: 2em;

  grid-row-start: 1;
  grid-column-start: 1;
}

button span:nth-of-type(1) {
  translate: 0 -1em;
  transition: var(--transition-3);
}

button span:nth-of-type(3) {
  translate: 0 1em;
  transition: var(--transition-3);
}

button.is-open span:nth-of-type(1) {
  translate: 0 0;
  rotate: 45deg;
  transition: var(--transition-3);
}

button.is-open span:nth-of-type(2) {
  scale: 0 1;
  transition: var(--transition-3);
}

button.is-open span:nth-of-type(3) {
  translate: 0 0;
  rotate: -45deg;
  transition: var(--transition-3);
}

/* nav header */
header ul {
  position: static;
  translate: 0 0;
  padding: var(--padding-0);
  background: none;
}

/**************/
/* MAIN */
/**************/

main {
  background-color: var(--color-background);
  display: grid;
}

/**************
FOOTER 
**************/

footer {
  background-color: var(--color-footer-background);
  display: grid;
}

footer section {
  padding: var(--padding-5);
}

footer section:nth-of-type(5) {
  padding: var(--padding-0);
}

footer h2 {
  font-size: var(--size);
  font-weight: var(--weight-heavy);
  position: relative;

  width: fit-content;
}

footer li {
  list-style: none;
}

/* streepje */
footer h2::after {
  content: "";
  width: 100%;
  height: 0.1em;
  background-color: var(--color-text);
  position: absolute;
  bottom: -0.4em;
  left: 0.8em;
}

/* socials */

footer a {
  line-height: 2.5em;
  font-size: 0.9em;
}

footer img {
  max-width: 30vh;
  padding: var(--padding-5);
}

footer svg {
  padding-right: 0.6em;
}

/**************
STATES
**************/

button:hover {
  background-color: var(--hover-button);
  transition: var(--transition-5);
}

header img:hover {
  background-color: var(--hover-header-img);
  transition: var(--transition-5);
}

a:hover {
  text-decoration: var(--hover-lijn);
}


header li> a:focus,
main section:nth-of-type(1) a:focus, 
footer a:focus {
  background-color: var(--focus-background-pink);
  color: var(--focus-text);

  font-weight: var(--weight-heavy);
  padding: var(--focus-padding);
}

header button:focus {
  background-color: var(--focus-header-state);
}

header > a:focus svg{
  background-color: var(--focus-header-state);
}

header > a:focus img{
  background-color: var(--focus-header-state);
}

main a:focus {
  background-color: var(--focus-background-main);
  color: var(--focus-text);

  font-weight: var(--weight-heavy);
  padding: var(--focus-padding);
}


a:active,
button:active {
  transform: var(--transform);
}

footer a:active {
  transform: var(--transform-footer);
}


main section:nth-of-type(1) a:visited, 
footer a:visited {
  background-color: var(--visited-pink);
}

header li> a:visited{
  background-color: var(--visited-nav);
}

main a:visited {
  background-color: var(--visited-main);
  font-weight: var(--visited-font-weight);
}


/**************
Animatie
**************/

/* Facebook animatie */
@keyframes facebook-animation {
  0% {
    rotate: 0deg;
    scale: 1;
  }

  100% {
    rotate: 180deg;
    scale: 10;
  }
}

svg[aria-label="facebook-animation"]:hover {
  animation-name: facebook-animation;
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
}

/* Instagram animatie */
@keyframes instagram-animation {
  0% {
    scale: 1;
  }

  100% {
    scale: 5;
  }
}

svg[aria-label="instagram-animation"]:hover {
  animation-name: instagram-animation;
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
}

/* LinkedIn animatie */
@keyframes LinkedIn-animation {
  0% {
    rotate: 0deg;
    scale: 1;
  }

  100% {
    rotate: 180deg;
    scale: 10;
  }
}

svg[aria-label="LinkedIn-animation"]:hover {
  animation-name: LinkedIn-animation;
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
}