@font-face {
  font-family: "MY POPPINS";
  src: url("../fonts/e807dee2426166ad-s.p.woff2");
  font-style: normal;
}

@font-face {
  font-family: "MY POPPINS";
  src: url("../fonts/851c14db057e20c2-s.p.woff2");
  font-style: italic;
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/****************/
/* Heb nog dark en light modus nodig met @media. 
Om dit snel te doen kan je met roots werken en de text, 
BG en Footer BG aan te passen hieronder, maar dan voor media (komt later) */
/****************/

:root {
  /* startje */
  --color-text: #fff;
  --color-background: #351fb7;
  --color-header-background: #351fb7;
  --color-nav-background: #25167a;
  --color-footer-background: #000;
  --color-menu-color: #fff;
  --spacing-md:0 5%;;

}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  font-family: "MY POPPINS";
}

header {
  background-color: var(--color-header-background);
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  position: sticky;
  top: 0;
  z-index: 1;
}

header img {
  max-width: 40%;
  /* max-width: 48em; */
}

main {
  background-color: var(--color-background);
  display: grid;
  /* display: flex;
  flex-direction: column; */
}

main section:nth-of-type(1) {
  background-color: var(--color-nav-background);
}

button {
  border: none;
  background: none;
}

h1 {
  background-color: var(--color-nav-background);
  font-weight: 800;
}

a {
  text-decoration: none;
}

p,
a {
  color: var(--color-text);
}

button[aria-label="toggle menu"] {
  appearance: none;

  width: 0.5em;
  aspect-ratio: 1/1;

  background-color: var(--color-header-background);
  border: none;
  padding: 0;

  display: grid;
  justify-items: center;
  align-items: center;
}

button span {
  display: block;

  width: 1.5em;
  height: 0.1em;
  background-color: var(--color-menu-color);

  grid-row-start: 1;
  grid-column-start: 1;
}

button span:nth-of-type(1) {
  translate: 0 -0.3em;
}

button span:nth-of-type(3) {
  translate: 0 0.3em;
}

button.is-open span:nth-of-type(1) {
  translate: 0 0;
  rotate: 45deg;
}

button.is-open span:nth-of-type(2) {
  scale: 0 1;
}

button.is-open span:nth-of-type(3) {
  translate: 0 0;
  rotate: -45deg;
}

img {
  max-width: 100%;
}

/**************
Footer styling
**************/

footer {
  background-color: var(--color-footer-background);
  display: grid;
}

footer h2 {
  font-size: 1em;
  position: relative;

  width: fit-content;
}

footer h2::after {
  content: "";
  width: 100%;
  height: 0.1em;
  background-color: var(--color-text);
  position: absolute;
  bottom: -0.4em;
  left: 0.8em;
}

footer section {
  padding: 0 3%;
}

footer section:nth-of-type(5) {
  padding: 0;
}

footer svg {
  padding-right: 0.6em;
}

footer a {
  line-height: 2.5em;
  font-size: 0.9em;
}
